*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --color-text: #fff;
  --color-text-alt: rgba(255, 255, 255, 0.7);
  --color-bg: #000;
  --color-link: #ffffff95;
  --color-link-hover: #fff;
  --page-padding: 1.5rem;
  --section-padding: 3.2rem;
  font-family: 'area-normal', sans-serif;
  font-size: 12px;
  line-height: 1;
}

body {
  margin: 0;
  color: var(--color-text);
  background-color: var(--color-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  overflow-x: hidden;
  overscroll-behavior: none;
  height: 100%;
}

.demo-1 {
  --color-bg: #404040;
}

.demo-2 {
  --color-text: #c21010;
}

.demo-3 {
  --color-bg: #151212;
}

a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    color: var(--color-link-hover);
  }

  &:focus {
    outline: none;
    background: lightgrey;

    &:not(:focus-visible) {
      background: transparent;
    }

    &:focus-visible {
      outline: 2px solid red;
      background: transparent;
    }
  }
}

.frame {
  font-weight: 500;
  padding: 3rem var(--page-padding) 0;
  display: grid;
  z-index: 1000;
  position: relative;
  gap: 1rem;
  pointer-events: none;
  justify-items: start;
  justify-content: start;
  grid-template-columns: auto auto auto;
  grid-template-areas:
    'title title title'
    'back archive github'
    'demos demos demos'
    'tags tags tags'
    'sponsor sponsor sponsor';

  #cdawrap {
    justify-self: start;
    grid-area: sponsor;
  }

  a,
  button {
    pointer-events: auto;
  }

  .frame__title {
    grid-area: title;
    font-size: inherit;
    margin: 0;
  }

  .frame__back {
    grid-area: back;
    justify-self: start;
  }

  .frame__archive {
    grid-area: archive;
    justify-self: start;
  }

  .frame__github {
    grid-area: github;
  }

  .frame__tags {
    grid-area: tags;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .frame__demos {
    grid-area: demos;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    & a {
      opacity: 0.5;
      &.active {
        opacity: 1;
      }
    }
  }

  @media screen and (min-width: 53em) {
    padding: var(--page-padding);
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    grid-template-columns: auto auto auto auto 1fr;
    grid-template-rows: auto auto;
    align-content: space-between;
    grid-template-areas:
      'title back github archive demos'
      'tags tags tags sponsor sponsor';

    .frame__tags {
      align-self: end;
    }

    .frame__demos,
    #cdawrap {
      justify-self: end;
      text-align: right;
      max-width: 225px;
      line-height: 1.4;
    }
  }
}

.content {
  word-break: break-all;
  padding: 0;
  max-width: 90em;
  margin: 0 auto;
  overflow-x: hidden;

  @media screen and (max-width: 768px) {
    padding: 0 var(--page-padding);
    width: 100%;
  }

  @media screen and (min-width: 1440px) {
    max-width: 120em;
  }
}

.section {
  width: 100%;
  height: 100vh;
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 3vh;
  justify-content: center;
  align-items: center;

  & h1 {
    font-size: clamp(2rem, 5vw, 4rem);
    text-align: center;
    word-break: break-word;
    font-weight: 600;
    line-height: 1;
  }

  & p {
    text-align: center;
    word-break: break-word;
    font-weight: 400;
    color: var(--color-text-alt);
  }
}
