.cylinder__title {
  color: var(--color-link);
  display: none;
}

.cylinder__wrapper {
  width: 100%;
  height: 100svh;
  position: relative;
  perspective: 1000px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.cylinder__text__wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform-origin: center center;
  text-align: center;
}

.cylinder__text__item {
  font-size: clamp(3rem, 9vw, 7rem);
  font-family: 'DM Serif Text', serif;
  font-weight: 900;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  backface-visibility: hidden;
}
