.tube__wrapper {
  width: 100%;
  height: 100svh;
  position: relative;
  perspective: 70vw;
  overflow: hidden;

  @media screen and (max-width: 768px) {
    perspective: 400px;
  }
}

.tube__text__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 3rem;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  transform-style: preserve-3d;
  transform-origin: center center;

  @media screen and (max-width: 768px) {
    font-size: 1.6rem;
  }

  @media screen and (max-width: 425px) {
    font-size: 1.2rem;
  }
}

.tube__text__item {
  position: absolute;
  top: 50%;
  width: 100%;
}
