.cylindar__wrapper {
  width: 100%;
  height: 100svh;
  position: relative;
  perspective: 70vw;
  overflow: hidden;

  @media screen and (max-width: 768px) {
    perspective: 400px;
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.cylindar__text__wrapper {
  position: absolute;
  font-size: 5vw;
  line-height: 5vw;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform-origin: center center;
  font-weight: 600;
  text-align: center;

  @media screen and (min-width: 2560px) {
    font-size: 132px;
    line-height: 132px;
  }

  @media screen and (max-width: 768px) {
    font-size: 1.6rem;
    line-height: 1.6rem;
  }
}

.cylindar__text__item {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  backface-visibility: hidden;
}
