.circle__wrapper {
  width: 100%;
  height: 100svh;
  position: relative;
}

.circle__text__wrapper__left {
  position: absolute;
  width: 100vw;
  height: 100%;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;

  left: 30%;
  transform: translateX(-100%);

  @media screen and (max-width: 768px) {
    font-size: 1.6rem;
  }

  @media screen and (max-width: 425px) {
    font-size: 1.2rem;
  }
}

.circle__text__wrapper__right {
  position: absolute;
  width: 100vw;
  height: 100%;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  left: 70%;
  text-align: right;

  @media screen and (max-width: 768px) {
    font-size: 1.6rem;
  }

  @media screen and (max-width: 425px) {
    font-size: 1.2rem;
  }
}

.circle__text__left__item,
.circle__text__right__item {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 25rem;

  @media screen and (max-width: 768px) {
    width: 15rem;
  }

  @media screen and (max-width: 425px) {
    width: 10rem;
  }
}
